@model IEnumerable<SIGET_WEB.Models.Persona>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div class="row">
		<div class="col-md-6 p-6">
			<h1>
				Personas
			</h1>
		</div>
		<div class="col-md-6 p-2">
			<p>
				<a asp-action="Create">Create New</a>
			</p>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CedulaPasaporte)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Apellido)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Telefono)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Direccion)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CorreoElectronico)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CedulaPasaporte)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Apellido)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Telefono)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Direccion)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CorreoElectronico)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.IdPersona">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.IdPersona">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
